/* your custom css */
@-webkit-keyframes navActiveFrame {
  from {
    left: 50%;
    right: 50%;
  }
  to {
    left: 0;
    right: 0;
  }
}
@keyframes navActiveFrame {
  from {
    left: 50%;
    right: 50%;
  }
  to {
    left: 0;
    right: 0;
  }
}

.nav-footer {
  border-top: 1px solid #efefef;
  background-color: #fcfcfc;
}

.nav-footer .sitemap {
  margin: 0 auto 3em;
  padding: 0 20px;
}

.nav-footer .sitemap h4 {
  color: #333;
  font-weight: 400;
}

.nav-footer .sitemap a {
  color: #999;
}

.nav-footer .sitemap a:hover {
  color: #777;
}

.nav-footer .copyright {
  color: #bbb;
  font-size: 14px;
  border-top: 1px solid #efefef;
  padding: 1em;
}

.nav-footer .flex-2 img {
  width: 150px;
}

.nav-footer a.code-dance {
  margin-top: 3em;
}

.fixedHeaderContainer {
  border-bottom: 1px solid #efefef;
  color: #333 !important;
  background-color: #FFF;
  min-height: 50px;
}

.fixedHeaderContainer header > a {
  height: 34px;
  color: #333;
}

.fixedHeaderContainer header > a > .headerTitleWithLogo {
  font-size: 1em;
  font-weight: 400;
}

.navigationSlider .slidingNav ul {
  background-color: transparent;
}

input#search_input_react {
  background-color: #f7f7f7;
  -webkit-transition: background-color .4s, width .4s, border .4s;
  transition: background-color .4s, width .4s, border .4s;
  border: 1px solid transparent;
}

input#search_input_react,
input#search_input_react:focus {
  color: #333;
}

input#search_input_react::-webkit-input-placeholder,
input#search_input_react:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}

input#search_input_react:-ms-input-placeholder,
input#search_input_react:focus:-ms-input-placeholder {
  color: #d3d3d3;
}

input#search_input_react::-ms-input-placeholder,
input#search_input_react:focus::-ms-input-placeholder {
  color: #d3d3d3;
}

input#search_input_react::placeholder,
input#search_input_react:focus::placeholder {
  color: #d3d3d3;
}

input#search_input_react:focus {
  background-color: #fff;
  border: 1px solid #e7e7e7;
}

.navigationSlider .slidingNav ul {
  background-color: #FFF;
}

.navigationSlider .slidingNav ul li > a {
  position: relative;
  -webkit-transition: color .2s;
  transition: color .2s;
  height: 32px;
}

.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li > a:active,
.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  color: #2e014e !important;
  background-color: transparent;
}

.navigationSlider .slidingNav ul li > a::after {
  content: '';
  background-color: #2e014e;
  height: 2px;
  font-size: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a::after,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a::after {
  left: 0;
  right: 0;
}

.navPusher {
  min-height: calc(100vh - 50px);
  padding-top: 100px;
}

.home-container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#2e014e), to(#454dd8));
  background: linear-gradient(to bottom right, #2e014e, #454dd8);
  -webkit-box-shadow: 0px 0px 10px #2e014e;
          box-shadow: 0px 0px 10px #2e014e;
  padding-top: 50px;
}

.home-splash-fade {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/banner.png");
  background-position: center center;
  background-size: auto 100%;
}

.home-wrapper {
  min-height: 500px;
  position: relative;
}

.project-title {
  font-size: 300%;
  margin: 0.3em 0;
  padding: 2.5em 0 1em;
  font-weight: 400;
  color: #fff;
}

.project-title > small {
  display: inline-block;
  font-weight: 100;
  font-size: 40%;
  line-height: 1.5em;
  margin: 2em 0 1em;
  color: #fff;
  max-width: 600px;
}

.nav-site a {
  color: #333;
}

.project-logo {
  display: none;
  pointer-events: none;
}

.project-logo img {
  height: 400px;
}

.button {
  padding: .5em 1.6em;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid transparent;
  position: relative;
  background-color: #FFF;
  background-clip: padding-box;
  -webkit-transition: background .3s, -webkit-box-shadow .3s;
  transition: background .3s, -webkit-box-shadow .3s;
  transition: background .3s, box-shadow .3s;
  transition: background .3s, box-shadow .3s, -webkit-box-shadow .3s;
  text-transform: unset;
  cursor: pointer;
}

.button.home-button {
  border-color: #fff;
  color: #FFF;
  background-color: transparent;
}

.button.home-button:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.button.home-button::after {
  content: unset;
}

.button::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  z-index: -1;
  content: '';
  background: -webkit-gradient(linear, left bottom, right top, from(#454dd8), to(#2e014e));
  background: linear-gradient(to top right, #454dd8, #2e014e);
  border-radius: inherit;
}

.button:hover {
  background: #fff;
  color: #2e014e;
  background-clip: padding-box;
}

.button.button-circle {
  border-radius: 38px;
}

.button.button-full {
  background: -webkit-gradient(linear, left bottom, right top, from(#454dd8), to(#2e014e));
  background: linear-gradient(to top right, #454dd8, #2e014e);
  color: #fff;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.button.button-full::after {
  content: none;
}

.button:hover {
  -webkit-box-shadow: 3px 4px 8px #454dd8;
          box-shadow: 3px 4px 8px #454dd8;
}

.promo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index: 99;
}

.promo-section .promo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0 -2px;
}

.button-wrapper {
  padding: 0 6px;
}

@media only screen and (max-width: 1023px) {
  .home-container {
    text-align: center;
  }
  .home-wrapper {
    min-height: 450px;
  }
  .project-title {
    font-size: 250%;
  }
  .project-title > small {
    font-size: 50%;
  }
  .promo-section .promo-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigationSlider .slidingNav ul {
    border-bottom: 1px solid #efefef;
  }
  .tocActive .onPageNav {
    top: 138px;
  }
  .nav-footer .sitemap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 4em);
  }
  .nav-footer .sitemap > div {
    margin-bottom: 18px;
  }
  .reactNavSearchWrapper.navSearchWrapper {
    top: 12px;
  }
  .reactNavSearchWrapper input#search_input_react {
    background-color: #f7f7f7;
    -webkit-transition: background-color .4s, width .4s, border .4s;
    transition: background-color .4s, width .4s, border .4s;
    border: 1px solid transparent;
    line-height: 26px;
    border-radius: 26px;
  }
  .reactNavSearchWrapper input#search_input_react,
  .reactNavSearchWrapper input#search_input_react:focus {
    color: #333;
  }
  .reactNavSearchWrapper input#search_input_react::-webkit-input-placeholder,
  .reactNavSearchWrapper input#search_input_react:focus::-webkit-input-placeholder {
    color: #d3d3d3;
  }
  .reactNavSearchWrapper input#search_input_react:-ms-input-placeholder,
  .reactNavSearchWrapper input#search_input_react:focus:-ms-input-placeholder {
    color: #d3d3d3;
  }
  .reactNavSearchWrapper input#search_input_react::-ms-input-placeholder,
  .reactNavSearchWrapper input#search_input_react:focus::-ms-input-placeholder {
    color: #d3d3d3;
  }
  .reactNavSearchWrapper input#search_input_react::placeholder,
  .reactNavSearchWrapper input#search_input_react:focus::placeholder {
    color: #d3d3d3;
  }
  .reactNavSearchWrapper input#search_input_react:focus {
    background-color: #fff;
    border: 1px solid #e7e7e7;
  }
}

@media only screen and (min-width: 1024px) {
  .project-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 0;
    padding: 2em 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigationSlider {
    height: 34px;
  }
  .navPusher {
    padding-top: 50px;
  }
  .home-container {
    max-height: 800px;
  }
  .nav-footer .flex-2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: right;
  }
}

@media only screen and (max-width: 736px) {
  .project-title {
    font-size: 200%;
  }
  .project-title > small {
    margin: 2em 2em 1em;
  }
}

@media only screen and (min-width: 1400px) {
  .home-wrapper {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1500px) {
  .home-wrapper {
    max-width: 1200px;
  }
  .nav-footer .sitemap {
    max-width: 1180px;
  }
}
/*# sourceMappingURL=custom.css.map */