@charset "UTF-8";
.frameworks-wrapper {
  max-width: 1020px;
  padding: 2em 0;
}

.framework-group {
  padding: 20px 30px;
}

.framework-group .framework-group-title {
  text-align: center;
  padding: 1em 0;
  margin-bottom: 2em;
}

.framework-group .framework-group-title span {
  width: 180px;
  padding: .5em 0;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  color: #454dd8;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px #ddd;
          box-shadow: 0px 2px 5px #ddd;
  font-weight: 300;
}

.framework-group .framework-group-title span::after, .framework-group .framework-group-title span::before {
  position: absolute;
  height: 2px;
  width: 30px;
  content: "";
  top: 50%;
  margin-top: -1px;
  border-radius: 2px;
}

.framework-group .framework-group-title span::after {
  right: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#454dd8), to(#fff));
  background: linear-gradient(to right, #454dd8, #fff);
}

.framework-group .framework-group-title span::before {
  left: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#454dd8));
  background: linear-gradient(to right, #fff, #454dd8);
}

.framework-group .framework-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.framework-group .framework-items .framework-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.framework-group .framework-items .framework-item .framework-block {
  height: 380px;
  width: 260px;
  display: inline-block;
  border-radius: 11px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px #e5e5e5;
          box-shadow: 0px 0px 10px #e5e5e5;
  -webkit-transition: background .3s, margin-top .3s, color .3s, -webkit-box-shadow .3s;
  transition: background .3s, margin-top .3s, color .3s, -webkit-box-shadow .3s;
  transition: background .3s, margin-top .3s, box-shadow .3s, color .3s;
  transition: background .3s, margin-top .3s, box-shadow .3s, color .3s, -webkit-box-shadow .3s;
  position: relative;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#5a36c7), to(#727bf0));
  background: linear-gradient(to bottom, #5a36c7, #727bf0);
}

.framework-group .framework-items .framework-item .framework-block .framework-background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
  background: #fff;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.framework-group .framework-items .framework-item .framework-block:hover {
  -webkit-box-shadow: 0px 0px 10px #454dd8;
          box-shadow: 0px 0px 10px #454dd8;
  color: #fff;
}

.framework-group .framework-items .framework-item .framework-block:hover .framework-background {
  background: transparent;
}

.framework-group .framework-items .framework-item .framework-block:hover .framework-link-button {
  display: inline-block;
}

.framework-group .framework-items .framework-item .framework-block:hover .framework-name {
  color: inherit;
}

.framework-group .framework-items .framework-item .framework-block:hover .framework-name::after {
  background-color: #fff;
}

.framework-group .framework-items .framework-item .framework-block.show-tag::after {
  position: absolute;
  top: 16px;
  left: -4px;
  content: "官方推荐";
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  width: 60px;
  background-color: #454dd8;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 2;
}

.framework-group .framework-items .framework-item .framework-block.show-tag::before {
  position: absolute;
  left: -4px;
  top: 12px;
  content: "";
  font-size: 0;
  border: 2px solid transparent;
  z-index: 0;
  border-bottom: 2px solid #2e014e;
  border-right: 2px solid #2e014e;
  z-index: 2;
}

.framework-group .framework-items .framework-item .framework-name {
  font-size: 14px;
  margin: 1em 0;
  position: relative;
  padding: 1em 0;
  font-weight: 300;
  color: #999;
}

.framework-group .framework-items .framework-item .framework-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: #454dd8;
  left: 50%;
  margin-left: -25px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.framework-group .framework-items .framework-item .framework-description {
  font-size: 16px;
  position: relative;
}

.framework-group .framework-items .framework-item .framework-link-wrapper {
  padding: 1em 0;
  margin-top: 1em;
}

.framework-group .framework-items .framework-item .framework-link-button {
  display: none;
  width: 160px;
  background-color: #d4377f;
  color: #fff;
}

.framework-group .framework-items .framework-item .framework-link-button::after {
  content: none;
}

.framework-group .framework-items .framework-item .framework-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.framework-group .framework-items .framework-item img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.promo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index: 99;
}

.promo-section .promo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0 -2px;
}

.button.home-button {
  color: #FFF !important;
  border-color: #fff !important;
  background-color: transparent !important;
}

.button.home-button:hover {
  color: #454dd8 !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background: #FFF !important;
}

.button.home-button::after {
  content: unset;
}

@media only screen and (max-width: 1023px) {
  .promo-section .promo-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 899px) {
  .framework-group .framework-items {
    display: block;
  }
  .framework-group .framework-items .framework-item {
    margin-bottom: 2em;
  }
  .framework-group .framework-items .framework-item .framework-block {
    width: 100%;
    max-width: 360px;
  }
}
