.frameworks-wrapper {
  max-width: 1020px;
}

.framework-group {
  padding: 0px 30px;
}

.framework-group .framework-group-title {
  text-align: center;
  padding: 100px 0;
}

.framework-group .framework-group-title span {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
}

.framework-group .framework-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.framework-group .framework-items .framework-item {
  width: 33.3%;
  margin-bottom: 70px;
  cursor: pointer;
}

.framework-group .framework-items .framework-item .framework-block {
  height: 210px;
  max-width: 280px;
  text-align: left;
  display: inline-block;
  padding: 20px;
  -webkit-transition: background .3s, margin-top .3s, color .3s, -webkit-box-shadow .3s;
  transition: background .3s, margin-top .3s, color .3s, -webkit-box-shadow .3s;
  transition: background .3s, margin-top .3s, box-shadow .3s, color .3s;
  transition: background .3s, margin-top .3s, box-shadow .3s, color .3s, -webkit-box-shadow .3s;
  position: relative;
  padding-bottom: 56px;
}

.framework-group .framework-items .framework-item .framework-block:hover {
  -webkit-box-shadow: 10px 10px 10px #e5e5e5;
          box-shadow: 10px 10px 10px #e5e5e5;
}

.framework-group .framework-items .framework-item .framework-name {
  font-size: 20px;
  position: relative;
  padding: 0.3em 0;
  font-weight: 300;
  text-align: left;
}

.framework-group .framework-items .framework-item .framework-description {
  position: relative;
  text-align: left;
  font-size: 14px;
  color: #999;
  font-weight: 100;
}

.framework-group .framework-items .framework-item .framework-link-wrapper {
  padding: 1em 0;
  margin-top: 0.5em;
}

.framework-group .framework-items .framework-item .framework-link-button {
  font-size: 14px;
  width: 160px;
  color: #454dd8;
}

.framework-group .framework-items .framework-item .framework-img {
  margin-bottom: 1em;
}

.framework-group .framework-items .framework-item img {
  width: 50%;
  height: auto;
  position: relative;
  z-index: 999;
}

.promo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index: 99;
}

.promo-section .promo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0 -2px;
}

.button.home-button {
  color: #FFF !important;
  border-color: #fff !important;
  background-color: transparent !important;
  margin-right: 0.6em;
}

.button.home-button:hover {
  color: #454dd8 !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background: #FFF !important;
}

.button.home-button::after {
  content: unset;
}

.descriptions {
  line-height: 1.5;
}

.descriptions .description-title {
  text-align: center;
  color: #333;
  font-size: 28px;
  line-height: 1;
  padding: 140px 0;
  font-weight: 300;
}

.descriptions .description-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -50px;
}

.descriptions .description-group .description-item {
  position: relative;
  font-weight: 100;
  padding-left: 70px;
  width: 50%;
  max-width: 480px;
  margin-bottom: 50px;
}

.descriptions .description-group .description-item .item-title {
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

.descriptions .description-group .description-item .item-content {
  color: #999;
  margin-top: 10px;
  font-size: 14px;
}

.descriptions .description-group .description-item .order {
  position: absolute;
  font-size: 36px;
  color: #4449d1;
  font-weight: 400;
  line-height: 1;
  top: 0;
  left: 0;
}

.more {
  padding-top: 60px !important;
}

@media only screen and (max-width: 1023px) {
  .promo-section .promo-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo-section .promo-row .button.home-button {
    margin-right: 0.2em;
  }
}

@media only screen and (max-width: 899px) {
  .framework-group {
    padding: 0;
  }
  .framework-group .framework-group-title {
    padding: 80px 0 60px 0;
  }
  .framework-group .framework-items {
    display: block;
    text-align: center;
  }
  .framework-group .framework-items .framework-item {
    margin-bottom: 2em;
    width: 100%;
  }
  .framework-group .framework-items .framework-item .framework-block {
    width: 100%;
    max-width: 360px;
    text-align: center;
  }
  .framework-group .framework-items .framework-item .framework-block .framework-description, .framework-group .framework-items .framework-item .framework-block .framework-name {
    text-align: center;
  }
  .descriptions .description-title {
    padding: 80px 0 60px 0;
  }
  .descriptions .description-group .description-item {
    width: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1100px !important;
  }
}
