
// Base
$primary-color: #454dd8;
$primary-color-dark: #2e014e;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #333;
$black-light: #999;
$white: #fff;

// Header & Navbar
$header-font-color: #333;
$nav-border: 1px solid $light-gray;
