.fixedHeaderContainer {
  // border-bottom: $nav-border;
  color: #333 !important;
  background-color: transparent;
  min-height: 50px;
  border: none;

  header > a { 
    height: 34px;
    color: #333;
  }

  header > a > .headerTitleWithLogo { 
    font-size: 1em;
    font-weight: 400;
  }
}

.headerWrapper > header > a:nth-child(2) { 
  display: none;
}

.navigationSlider .slidingNav ul { 
  background-color: transparent;
}

.navigationSlider .slidingNav ul > li > a { 
  color: #FFF;
}

.navPusher { 
  padding-top: 0px;
}

@media only screen and (max-width: 1023px) {
  .home-container { 
    text-align: center;
  }

  .promo-section .promo-row { 
    justify-content: center;
  }

  .navigationSlider .slidingNav ul {
    border-bottom: none;
  }

  .tocActive .onPageNav { 
    top: 138px;
  }

  .nav-footer .sitemap {
    flex-direction: column;
    width: calc(100% - 4em);
  }
  .nav-footer .sitemap > div {
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .project-logo { 
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 2em 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigationSlider { 
    height: 34px;
  }

  .navPusher { 
    padding-top: 0px;
  }

  .home-container { 
    max-height: 800px;
  }

  .nav-footer .flex-2 { 
    flex: 2;
    text-align: right;
  }
}